<div class="banner-div">
  <div class="container"></div>

  <div class="mario-div">
    <div class="box">
      <div class="title">
        VIDEOJUEGOS Y
        <br />
        TECNOLOGÍA
      </div>
      <div class="subtitle">¡Encuentra todo para gamers, fans del anime, pokemons y mucho más!</div>
    </div>
    <div class="box">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fmario__png__by_justletmein21_dfdk2sz-pre.png?alt=media&token=2b06cd1e-ef8c-414b-8c2d-70a7a595d453"
        alt=""
      />
    </div>
  </div>
</div>
