@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.footer {
  background-color: #eca400;
  color: #001d4a;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer .social-icons {
  position: relative;
  margin-bottom: 10px;
  filter: invert(10%) sepia(100%) saturate(999%) hue-rotate(190deg);
}

.footer .social-icons::before,
.footer .social-icons::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: #001d4a;
}

.footer .social-icons::before {
  left: 0;
}

.footer .social-icons::after {
  right: 0;
}

.footer .social-icons a {
  position: relative;
  margin: 0 10px;
  display: inline-block;
  padding: 0 18px;
}

.footer .social-icons img {
  width: 24px;
  height: 24px;
}

.footer .footer-text p {
  margin: 0;
  font-size: 14px;
}

.footer nav {
  margin-top: 10px;
}

.footer nav a {
  color: #001d4a;
  text-decoration: none;
  margin: 0 5px;
}

.footer nav a:hover {
  text-decoration: underline;
}

@media (max-width: 1135px) {
  .footer .social-icons::before,
  .footer .social-icons::after {
    width: 40%;
  }
  .footer .social-icons a {
  padding: 0 18px;
}
}

@media (max-width: 790px) {
  .footer .social-icons::before,
  .footer .social-icons::after {
    width: 35%;
  }
}

@media (max-width: 433px) {
  .footer .social-icons::before,
  .footer .social-icons::after {
    width: 30%;
  }
}
