<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/profile.php?id=100071574987027" target="_blank">
      <img src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Ffooter%2Ffacebook.svg?alt=media&token=93b983d6-76fd-465a-971a-6d2acd4ffce6" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/mundodelnintendo" target="_blank">
      <img src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Ffooter%2Finstagram.svg?alt=media&token=4a5efab0-f9b8-46e6-9b68-9270d48f26e4" alt="Instagram">
    </a>
  </div>
  <div class="footer-text">
    <p>&copy; 2024 Mágico mundo del nintendo</p>
    <nav>
      <a routerLink="/terminos-condiciones">Terminos y condiciones</a> |
      <a routerLink="/contacto">Contacto</a> |
      <a routerLink="/sobre-nosotros">Sobre nosotros</a> |
      <a routerLink="/locales">Tiendas</a> |
      <a routerLink="/metodos-pago">Métodos de pago</a>
    </nav>
  </div>
</footer>