<app-alert
  [showAlert]="showAlert"
  [alertTopic]="alertTopic"
  [alertMessage]="alertMessage"
  [alertType]="alertType"
></app-alert>

<div class="container" id="container">
  <div class="form-container sign-in" id="form-container">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <h1>Restablecer Contraseña</h1>
      
      <input
        type="password"
        placeholder="Nueva Contraseña"
        formControlName="password"
        required
      />
      <div *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors">
        <small class="error" *ngIf="resetForm.controls['password'].errors['required']">
          La contraseña es requerida.
        </small>
        <small class="error" *ngIf="resetForm.controls['password'].errors['minlength']">
          La contraseña debe tener al menos 8 caracteres.
        </small>
      </div>

      <input
        type="password"
        placeholder="Confirmar Nueva Contraseña"
        formControlName="confirmPassword"
        required
      />
     <div *ngIf="resetForm.controls['confirmPassword'].touched && resetForm.errors?.['passwordMismatch']">
  <small class="error">Las contraseñas no coinciden.</small>
</div>

      <button type="submit" [disabled]="!resetForm.valid">Restablecer Contraseña</button>
      <p class="register-text">¿Ya te acordaste de la contraseña? <a id="textRegis" (click)="navigateToLogin()">Inicia sesión</a></p>
    </form>
  </div>
  <div class="toggle-container" id="toggle-container">
    <div class="toggle" id="toggle">
      <div class="toggle-panel toggle-right toggle-right2" id="toggle-panel">
        <h1></h1>
        <img
          id="mario"
          src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FLogo2.png?alt=media&token=53e19d22-3f2a-4cc4-a3c4-25e3b16d25b9"
          alt="Logo"
        />
        <p>Introduce tu nueva contraseña para continuar.</p>
        <button class="hidden" id="register" (click)="navigateToLogin()">Inicia sesión</button>
      </div>
    </div>
  </div>
</div>
