<section id="name-page">
  <p>CAJA</p>
</section>
<main class="main_container">
    <section class="data">
        <router-outlet></router-outlet>
        
    </section>
    <section class="product_list">
      <div class="products">
        @for (prod of productshop; track $index) {

          <div class="article_info">
            <img src="{{getCorrespondingProduct(prod.producto_id)?.url_imagen}}" alt="img" />
            <div class="article_details">
              <span class="info_span article_name">{{getCorrespondingProduct(prod.producto_id)?.nombre}}</span>
              <span class="info_span article_type">{{getCorrespondingProduct(prod.producto_id)?.detalles}}</span>
            </div>
          </div>

        }


        
      </div>
      <div class="space_bar"></div>
      <div class="pay_data">
        <span>subtotal</span>
        <span class="valorDolares">${{getSubtotal()}}</span>
        <span>Iva</span>
        <span class="valorDolares">${{getIVA()}}</span>
        <span>Descuento</span>
        <span class="valorDolares">$0</span>
        <span ><b>Total</b></span>
        <span class="valorDolares">${{getTotal()}}</span>
      </div>
    </section>
</main>
