<h2 class="section_name">Completa tus Datos Personales</h2>
<div class="bar">
    <div class="circle circle1">
        <div class="circle_n circle_p">1</div>
    </div>
    <div class="circle circle2">
        <div class="circle_n circle_s">2</div>

    </div>
    <div class="circle circle3">
        <div class="circle_n circle_s">3</div>

    </div>
</div>

<form>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>

    <label for="cedula">Cédula:</label>
    <input type="text" id="cedula" name="cedula" required>

    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" name="telefono" required>

    <label for="ciudad">Ciudad:</label>
    <input type="text" id="ciudad" name="ciudad" required>

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion" required>


    <label for="mapa">Confirme su direccion en el mapa</label>

  <iframe
  name="mapa"
  class="map__iframe"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.023651934657!2d-79.97045872618753!3d-2.1446259978362723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d7303bb0133cd%3A0x66c18bd9810f31cb!2sFacultad%20de%20Ingenier%C3%ADa%20en%20Electricidad%20y%20Computaci%C3%B3n%20FIEC%20-%20ESPOL!5e0!3m2!1ses-419!2sec!4v1697418872847!5m2!1ses-419!2sec"
  height="400"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>

  </form>
  <div class="buttons">
    <button id="keepBuying" routerLink="/carrito">atras</button>
    <button id="goToCheckout" routerLink="/caja/metodo-pago">Siguiente</button>
  </div>
  