<app-alert
  [showAlert]="showAlert"
  [alertTopic]="alertTopic"
  [alertMessage]="alertMessage"
  [alertType]="alertType"
></app-alert>

<div class="container active" id="container">
  <div class="form-container sign-in" id="form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <h1>Crea tu cuenta</h1>
      <input
        type="text"
        formControlName="first_name"
        placeholder="Nombre"
        id="first_name"
        [ngClass]="{
          'input-error': contactForm.get('first_name')?.invalid && contactForm.get('first_name')?.touched,
        }"
        required
      />
      <div
        *ngIf="contactForm.get('first_name')?.invalid && contactForm.get('first_name')?.touched"
        class="error-message"
      >
        El nombre es obligatorio.
      </div>

      <input
        type="text"
        formControlName="last_name"
        placeholder="Apellido"
        id="last_name"
        [ngClass]="{
          'input-error': contactForm.get('last_name')?.invalid && contactForm.get('last_name')?.touched,
        }"
        required
      />
      <div *ngIf="contactForm.get('last_name')?.invalid && contactForm.get('last_name')?.touched" class="error-message">
        El apellido es obligatorio.
      </div>

      <input
        type="email"
        formControlName="email"
        placeholder="Correo"
        id="email"
        [ngClass]="{ 'input-error': contactForm.get('email')?.invalid && contactForm.get('email')?.touched }"
        required
      />
      <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
        Debes ingresar un correo válido.
      </div>

      <input
        type="password"
        placeholder="Contraseña"
        id="password"
        formControlName="password"
        [ngClass]="{ 'input-error': contactForm.get('password')?.invalid && contactForm.get('password')?.touched }"
        required
      />
      <div *ngIf="contactForm.get('password')?.invalid && contactForm.get('password')?.touched" class="error-message">
        La contraseña debe tener al menos 8 caracteres.
      </div>

      <button type="submit">Registrarse</button>
      <p class="register-text">¿Ya posees una cuenta? <a id="textRegis" (click)="navigateToLogin()">Inicia sesión</a></p>
    </form>
  </div>
  <div class="toggle-container" id="toggle-container">
    <div class="toggle" id="toggle">
      <div class="toggle-panel toggle-right toggle-right2" id="toggle-panel">
        <h1></h1>
        <img
          id="mario"
          src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FLogo2.png?alt=media&token=53e19d22-3f2a-4cc4-a3c4-25e3b16d25b9"
          alt=""
        />
        <p>Si ya posees una cuenta, inicia sesión</p>
        <button class="hidden" id="login" (click)="navigateToLogin()">Inicia sesión</button>
      </div>
    </div>
  </div>
</div>
