/* Alert css */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001; 
  min-width: 350px;
  border: 1px solid #ddd;
  animation: slideInRight 0.5s ease-out;
}

.alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.icon-and-text {
  display: flex;
  align-items: center;
}

.icon-check-circle {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  filter: invert(30%) sepia(100%) saturate(999%) hue-rotate(190deg);
}

/* Estilo para la alerta de error */
.error-alert .alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.error-alert .progress {
  background-color: red;
}

/* Estilo para la alerta de confirmación */
.confirm-alert .alert {
  background-color: #d1ecf1;
  color: #0c5460;
  border: 1px solid #bee5eb;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.alert-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.alert-message {
  font-size: 14px;
  color: #555;
}

.close-alert {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-close-circle {
  width: 20px;
  height: 20px;
  filter: invert(50%);
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: 5px;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #1A70DA;
  width: 100%;
  transition: width 0.2s linear;
}

/* Botones para la alerta de confirmación */
.confirm-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.confirm-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.confirm-btn:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 430px) {
  .alert {
    top: 10px;
    right: 10px;
    left: 10px;
    min-width: unset;
    width: calc(100% - 20px);
    padding: 10px;
  }

  .alert-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon-and-text {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .text-content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .alert-title {
    font-size: 14px;
  }

  .alert-message {
    font-size: 13px;
  }

  .close-alert {
    align-self: flex-end;
    margin-bottom: 10px;
  }

  .progress-bar {
    height: 4px;
  }
}
