<section id="banner-first">
  <p>Inicio / Métodos de pago</p>
</section>

<div class="container">
  <div class="sub-container">
    <h1>MÉTODOS DE PAGO</h1>

    <p>
      En Mundo Mágico del Nintendo, ofrecemos varias opciones de pago para facilitar tu compra. A continuación, te
      presentamos los métodos de pago que aceptamos:
    </p>
    <div class="navbar-divider"></div>
    <ul class="payment-methods">
      <li>
        <p id="n-text">PÁGOS ONLINE CON TARJETAS DE CRÉDITO</p>
        <p>Aceptamos tarjetas de crédito Visa y Mastercard nacionales o internacionales.</p>
        <div class="payment-container">
          <p>
            Puedes realizar tus compras online con pagos corrientes con tarjetas de crédito bancaria nacional Visa,
            Mastercard o American Express de forma rápida y segura.
          </p>
          <p>Ten en cuenta que el cargo en tu tarjeta de crédito se realizará directamente en el momento de la compra.</p>
          <div class="payment-icons">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FmetodosPago%2FVisa_Inc._logo.svg.png?alt=media&token=18f98c14-9c23-40bd-9055-c60040c9445c"
              alt="Visa"
            />
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FmetodosPago%2FMastercard-logo.svg.png?alt=media&token=2a89c418-3d36-429d-8f29-008827f8ff5c"
              alt="Mastercard"
            />
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FmetodosPago%2FAmerican-Express-Color.png?alt=media&token=94d8d620-0b2b-42b0-91e3-36837da70903"
              alt="American Express"
            />
          </div>
        </div>
      </li>
      <li>
        <p id="n-text">PÁGOS ONLINE CON TARJETAS DE DÉBITO</p>
        <p>Aceptamos tarjetas de débito Visa y Mastercard nacionales o internacionales.</p>
        <div class="payment-container">
          <p>
            Puedes realizar tus compras online con pagos corrientes con tarjetas de débito bancaria nacional Visa,
            Mastercard o American Express de forma rápida y segura.
          </p>
          <p>Ten en cuenta que el cargo en tu tarjeta de débito se realizará directamente en el momento de la compra.</p>
          <div class="payment-icons">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FmetodosPago%2FVisa_Inc._logo.svg.png?alt=media&token=18f98c14-9c23-40bd-9055-c60040c9445c"
              alt="Visa"
            />
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FmetodosPago%2FMastercard-logo.svg.png?alt=media&token=2a89c418-3d36-429d-8f29-008827f8ff5c"
              alt="Mastercard"
            />
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FmetodosPago%2FAmerican-Express-Color.png?alt=media&token=94d8d620-0b2b-42b0-91e3-36837da70903"
              alt="American Express"
            />
          </div>
        </div>
      </li>
      <li>
        <p id="n-text">PÁGOS ONLINE CON PAYPAL</p>
        <p>Aceptamos tarjetas de débito Visa y Mastercard nacionales o internacionales.</p>
        <div class="payment-container">
          <p>
            PayPal es una forma de pago fácil y segura. Mediante tu cuenta, que puedes vincular a tu tarjeta de crédito,
            débito o cuenta bancaria, puedes recibir y enviar pagos por Internet de forma segura.
          </p>
          <p>
            Con PayPal no es necesario compartir tus datos financieros al realizar una transacción bancaria, por lo que
            la protección y seguridad están garantizadas. Además, no hay gastos adicionales por su uso.
          </p>
          <div class="payment-icons">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2FmetodosPago%2Fpaypal-3.svg?alt=media&token=4cc0797c-52f5-4a5d-8877-f04f4585c1dd"
              alt="paypal"
            />
          </div>
        </div>
      </li>
    </ul>

    <p class="note">
      Si tienes alguna pregunta o necesitas asistencia con el proceso de pago, no dudes en
      <a routerLink="/contacto">contactarnos</a>
      . Tu seguridad y comodidad son nuestra prioridad.
    </p>

    <p class="note">
      Para más detalles sobre el manejo de tu información financiera, consulta nuestros
      <a routerLink="/terminos-condiciones">Términos y condiciones</a>
      .
    </p>
  </div>
</div>
