<div class="wishlist-modal">
  <div class="wishlist-header">
    <h3>Lista de deseos</h3>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fx-lg.svg?alt=media&token=19d8f58e-6409-474c-8f62-73c1238af612"
      alt="Cerrar"
      (click)="onClose()"
    />
  </div>

  @if (data.products.length > 0) {
    <div class="wishlist-content">
      @for (product of data.products; track $index) {
        <div class="wishlist-item" (click)="goToProductDetails()">
          <img [src]="product.image" alt="{{ product.name }}" />
          <div class="item-details">
            <h3>{{ replaceUnderscores(product.name) }}</h3>
            <p>{{ product.description }}</p>
            <p class="item-price">${{ product.price }}</p>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="empty-wishlist-message"><p>No hay productos en su lista de deseos*</p></div>
  }
  <div class="goToProducts">
    <h3 (click)="goToStore()">Ir a la tienda</h3>
  </div>
</div>
