/* Add any custom styles for the modal here */
mat-dialog-content {
    max-height: 400px;
    overflow-y: auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  img {
    display: block;
    margin-top: 10px;
  }
  