.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-control img {
  width: 30px;
  height: 30px;
}


.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.carousel-control.prev {
  left: 10px;
  filter: invert(100%);
}

.carousel-control.next {
  right: 10px;
  filter: invert(100%);
}

/* Style search bar*/

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3b0;
  padding: 20px;
  max-width: 965px;
  height: 140px;
  margin: auto;
  margin-bottom: 30px;
}

.search-container p {
  font-size: 30px;
  margin-right: 20px;
  color: #001D4A;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #001D4A;
  border-radius: 25px;
  width: 250px;
  margin-right: 10px;
}

.mario-image {
  width: 100px;
  height: auto;
}

/* Style category section */
.categories-container {
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.best-sellers {
  background-color: #001D4A;
  color: white;
  width: 445px;
  cursor: pointer;
}

.new-arrivals {
  background-color: #FFD26A;
  color: #001D4A;
  width: 445px;
  cursor: pointer;
}

.category-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.category p {
  font-size: 24px;
}

