<section id="best-sellers">
    <div class="best-sellers-container">
        <div class="header">LO MÁS VENDIDO</div>
        <div class="view-more"><a routerLink="/vendidos">Ver más</a></div>
        <div class="product-list">
            <div *ngFor="let product of bestSellers" class="product-item" (click)="openDetails(product)">
                <div class="product-bg"></div>
                <div class="price">{{ product.precio | currency: 'USD' }}</div>
                <img [src]="product.url_imagen" [alt]="product.nombre" class="product-image" />
                <div class="product-name">{{ product.nombre }}</div>
            </div>
        </div>
    </div>
</section>

<section id="new-products">
    <div class="new-products-container">
        <div class="header">NOVEDADES</div>
        <div class="view-more"><a routerLink="/novedades">Ver más</a></div>
        <div class="product-list">
            <div *ngFor="let product of newProducts" class="product-item" (click)="openDetails(product)">
                <div class="product-bg"></div>
                <div class="price">{{ product.precio | currency: 'USD' }}</div>
                <img [src]="product.url_imagen" [alt]="product.nombre" class="product-image" />
                <div class="product-name">{{ product.nombre }}</div>
            </div>
        </div>
    </div>
</section>

<section id="news">
    <div class="new-products-container">
        <div class="header">NOTICIAS</div>
        <div class="view-more"><a routerLink="/noticias">Ver más</a></div>
        <div class="product-list">
            <div *ngFor="let noticia of notice" class="card">
                <div class="card-image">
                    <img [src]="noticia.urlImagen" alt="Noticia Imagen">
                </div>
                <div class="category">{{ noticia.titulo }}</div>
                <div class="heading">
                    {{ noticia.descripcion }}
                    <div class="author">By <span class="name">{{ noticia.autor }}</span> {{ noticia.fechaPublicacion | date:
                        'medium' }}</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="details" *ngIf="showDetails && selectedProduct !== undefined">
    <div class="details-container">
        <img id="img-detalles" src="{{selectedProduct.url_imagen}}">
        <p id="nombre-text">{{selectedProduct.nombre}}</p>
        <p id="desc-text">{{selectedProduct.descripcion}}</p>
        <p id="precio-text">Precio unitario: ${{selectedProduct.precio}}</p>
        <h2> Detalles </h2>
        <div *ngFor="let detalle of (selectedProduct.detalles.split(',') || [])">
            <p id="detalles-text">{{detalle.trim()}}</p>
        </div>
        <button id="addToCart-detalles" (click)="addCart()"  >
            <img id="cart-icon-detalles" src="../../../assets/img/white-add-cart-icon.png">
            AGREGAR AL CARRITO</button>
        <button id="closeButton-detalles" (click)="closeDetails()">X</button>
    </div>
</div>
