header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding-top: 2%;
  transition: transform 0.3s ease, padding-top 0.3s ease;
}

.header-background {
  width: 75%;
  margin: 0 auto;
  background-color: #ffffff;
  transition: width 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header.scrolled {
  transform: translateY(0);
  padding-top: 0;
}

header.expanded .header-background {
  width: 100%;
}

header:not(.expanded) .header-background {
  width: 75%;
}

.categories-link {
  position: relative;
}

.categories-link::before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -37px;
  left: -10px;
  right: -10px;
}


#logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--acento-azul-oscuro);
  padding-left: 20px;
}

#logo-container img {
  margin-right: 10px;
}

#text-logo p {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

#text-logo span {
  font-size: 24px;
}

#searcher {
  display: flex;
}

#searcher img {
  margin: 0 7px;
  cursor: pointer;
}

#searcher nav {
  margin-left: 1em;
  cursor: pointer;
  color: var(--acento-turqueza);
  text-align: center;
}

#searcher nav a {
  color: var(--acento-turqueza);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

.cart_icon {
  cursor: pointer;
}

.search-bar-container {
  width: 75%;
  margin: 0 auto;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #fc0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar img{
  cursor: pointer;
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Hace que aparezca justo debajo del dropdown */
  left: 0;
  margin-top: 46px; /* Ajusta esta cantidad para la separación deseada */
}

.dropdown-content a {
  color: var(--acento-turqueza);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
  border-bottom: none;
}


.dropdown-content a:hover {
  background-color: #54a6f3;
}

.dropdown:hover .dropdown-content {
  display: block;
}
