<header>
  <div class="header-background">
    <div class="header-content">
      <div class="navbar-top">
        <div class="navbar-left">
          <div class="hamburger-icon" (click)="toggleMenu()">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Flist.svg?alt=media&token=1b989fcc-798f-4aa9-83a4-1a37d88db6a3"
              alt="Menu"
              width="30"
            />
          </div>
          <div class="navbar-logo">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Flogo.png?alt=media&token=e35daf1c-fe3e-4615-971e-e4bedc79ad8a"
              alt="Logo de la tienda"
              (click)="navigateToHome()"
              routerLink=""
            />
          </div>
          <div class="navbar-title">
            <h1>MÁGICO MUNDO</h1>
            <h1>DEL NINTENDO</h1>
          </div>
        </div>
        <div class="navbar-icons">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Ffavorite.png?alt=media&token=0f1b172b-c1e4-48dd-ab06-6240e62e5d84"
            alt="Wishlist"
            width="30"
            class="nav-icon"
            (click)="openWishlistModal()"
          />
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fperson.svg?alt=media&token=3b534201-e933-422e-947b-12a93f6ee803"
            routerLink=""
            class="nav-icon user-icon"
            id="logged-user-icon"
            alt="User"
            width="30"
            *ngIf="isLoggedIn; else notLoggedIn"
            (click)="navigateToUserDetails()"
          />
          <ng-template #notLoggedIn>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fperson.svg?alt=media&token=3b534201-e933-422e-947b-12a93f6ee803"
              routerLink=""
              class="nav-icon user-icon"
              alt="User"
              width="30"
              (click)="navigateToLogin()"
            />
          </ng-template>
          <div class="cart-icon-container">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fshopping-cart-icon.svg?alt=media&token=b1107332-c216-46a1-96f5-6e1311b33f39"
              alt="Carrito de compras"
              class="nav-icon"
              width="30"
              (click)="openCartModal()"
            />
            <span class="cart-count">{{ totalProducts }}</span>
          </div>
        </div>
      </div>
      <div class="navbar-divider"></div>
      <div class="navbar-bottom">
        <div class="navbar-links">
          <a routerLink="/">INICIO</a>
          <div class="dropdown">
            <a routerLink="/todos" class="categories-link">PRODUCTOS</a>
            <div class="dropdown-content">
              <div class="dropdown-column">
                <h3 routerLink="/videojuegos">Videojuegos</h3>
                <a routerLink="/">Nintendo 3DS</a>
                <a routerLink="/">Nintendo Wii</a>
                <a routerLink="/">Nintendo Switch</a>
                <a routerLink="/">PS1</a>
                <a routerLink="/">PS2</a>
                <a routerLink="/">PS3</a>
                <a routerLink="/">PS4</a>
                <a routerLink="/">PS5</a>
                <a routerLink="/">Xbox</a>
                <a routerLink="/">Xbox One</a>
                <a routerLink="/">Xbox 360</a>
              </div>
              <div class="dropdown-column">
                <h3 routerLink="/funkopop">Funko-Pops</h3>
                <a routerLink="/">Heroes</a>
                <a routerLink="/">Marvel</a>
                <a routerLink="/">Comics</a>
                <a routerLink="/">Animation</a>
                <a routerLink="/">Disney</a>
                <a routerLink="/">Television</a>
                <a routerLink="/">Movies</a>
                <h3 routerLink="/consolas">Consolas</h3>
                <a routerLink="/">PS5</a>
                <a routerLink="/">Nintendo Switch</a>
              </div>
              <div class="dropdown-column">
                <h3 routerLink="/articulos">Artículos</h3>
                <a routerLink="/">Computadores</a>
                <a routerLink="/">Nintendo 3DS</a>
                <a routerLink="/">Nintendo Wii</a>
                <a routerLink="/">Nintendo switch</a>
                <a routerLink="/">PS1</a>
                <a routerLink="/">PS2</a>
                <a routerLink="/">PS3</a>
                <a routerLink="/">PS4</a>
                <a routerLink="/">PS5</a>
                <a routerLink="/">televisores</a>
                <a routerLink="/">Tazas</a>
                <h3>Otros</h3>
                <a routerLink="/otros">Otros...</a>
              </div>
            </div>
          </div>
          <a routerLink="/locales">LOCALES</a>
          <a routerLink="/contacto">CONTACTO</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Menu mobile -->
  <div class="mobile-menu" [class.open]="menuVisible">
    <div class="mobile-menu-content">
      <div class="mobile-menu-user">
        <div *ngIf="isLoggedIn; else notLoggedIn" class="user-info" (click)="navigateToUserDetails()">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fperson.svg?alt=media&token=3b534201-e933-422e-947b-12a93f6ee803"
            alt="User"
            width="30"
          />
          <span>{{ userInfo?.first_name }}</span>
        </div>
        <ng-template #notLoggedIn>
          <div class="user-info" (click)="navigateToHomeFromMobile()">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fperson.svg?alt=media&token=3b534201-e933-422e-947b-12a93f6ee803"
              alt="User"
              width="30"
            />
            <span></span>
          </div>
        </ng-template>
        <div class="close-btn" (click)="toggleMenu()">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fx-lg.svg?alt=media&token=19d8f58e-6409-474c-8f62-73c1238af612"
            alt="Cerrar"
            width="20"
          />
        </div>
      </div>
      <div class="mobile-menu-categories" *ngIf="!submenuVisible && !subsubmenuVisible">
        <div class="menu-items">
          <div class="category-item">
            <button (click)="navigateToHomeFromMobile()">
              Inicio
              <img
                src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-right.svg?alt=media&token=1c41f5b9-a6b0-4cc7-ab7e-80fc7024cbd8"
                alt="Right Arrow"
                width="20"
              />
            </button>
            <div class="navbar-divider"></div>
          </div>
          <div class="category-item">
            <button (click)="openMenu()">
              Productos
              <img
                src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-right.svg?alt=media&token=1c41f5b9-a6b0-4cc7-ab7e-80fc7024cbd8"
                alt="Right Arrow"
                width="20"
              />
            </button>
            <div class="navbar-divider"></div>
          </div>
          <div class="category-item">
            <button (click)="navigateToLocales()">
              Locales
              <img
                src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-right.svg?alt=media&token=1c41f5b9-a6b0-4cc7-ab7e-80fc7024cbd8"
                alt="Right Arrow"
                width="20"
              />
            </button>
            <div class="navbar-divider"></div>
          </div>
          <div class="category-item">
            <button (click)="navigateToContacto()">
              Contacto
              <img
                src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-right.svg?alt=media&token=1c41f5b9-a6b0-4cc7-ab7e-80fc7024cbd8"
                alt="Right Arrow"
                width="20"
              />
            </button>
            <div class="navbar-divider"></div>
          </div>
        </div>
        <div class="logout-item category-item">
          <button (click)="logout()">
            Cerrar sesión
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-left.svg?alt=media&token=9224af5b-da27-46de-86d6-f5e5be09a53d"
              alt="Right Arrow"
              width="20"
            />
          </button>
          <div class="navbar-divider"></div>
        </div>
      </div>

      <div class="mobile-submenu" *ngIf="submenuVisible && !subsubmenuVisible">
        <button class="back-btn" (click)="closeSubMenu()">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-left.svg?alt=media&token=9224af5b-da27-46de-86d6-f5e5be09a53d"
            alt="Left Arrow"
            width="20"
          />
          Regresar
        </button>
        <div *ngFor="let category of categories" class="category-item">
          <button (click)="openSubMenu(category)">
            {{ category.title }}
            <img
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-right.svg?alt=media&token=1c41f5b9-a6b0-4cc7-ab7e-80fc7024cbd8"
              alt="Right Arrow"
              width="20"
            />
          </button>
          <div class="navbar-divider"></div>
        </div>
      </div>
      <div class="submenu-items mobile-submenu" *ngIf="subsubmenuVisible">
        <button class="back-btn" (click)="closeSubSubMenu()">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fchevron-left.svg?alt=media&token=9224af5b-da27-46de-86d6-f5e5be09a53d"
            alt="Left Arrow"
            width="20"
          />
          Regresar
        </button>
        <div *ngFor="let item of selectedCategory.items">
          <a routerLink="/{{ item | lowercase }}">{{ item }}</a>
          <div class="navbar-divider"></div>
        </div>
      </div>
    </div>
  </div>
</header>
