<header>
    <div class="header-background">
      <div class="header-content">
        <a id="logo-container" routerLink="/">
          <img src="../../../assets/logo.png" alt="Logo de la tienda" width="70">
          <div id="text-logo">
            <p>Mundo magico del <span>Nintendo</span></p>
          </div>
        </a>
        
        <div id="searcher">
          <nav>
            <a routerLink="/">INICIO</a>
            <div class="dropdown">
              <a routerLink="/categorias" class="categories-link">CATEGORIAS</a>
              <div class="dropdown-content">
                <a routerLink="/videojuegos">VIDEOJUEGOS</a>
                <a routerLink="/funkopop">FUNKO POPS</a>
                <a routerLink="/consolas">CONSOLAS</a>
                <a routerLink="/coleccionables">COLECCIONABLES</a>
              </div>
            </div>
            <a routerLink="/blog">BLOG</a>
            <a routerLink="/contacto">CONTACTO</a>
          </nav>
          <img class="cart_icon" src="../../../assets/person.svg" routerLink="" alt="User" width="30" (click)="navigateToLogin()">
          <img class="cart_icon" src="../../../assets/shopping-cart-icon.svg" routerLink="/carrito" alt="Carrito de compras" width="30">
          <img src="../../../assets/search-icon.svg" alt="search" width="23" (click)="toggleSearchBar()">
        </div>
      </div>
      <div class="search-bar" *ngIf="isSearchBarVisible">
        <input type="text" placeholder="Buscar producto...">
        <img src="../../../assets/x.svg" alt="close" (click)="toggleSearchBar()">
      </div>
    </div>
  </header>
  
