body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button{
  background: none;
}

.banner-div {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
  width: 100%;
  max-width: 1700px;
  height: 69px;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
  

  
  .search-bar {
    width: 566px;
    height: 66px;
    left: 432px;
    top: 3px;
    position: absolute;
    background: rgba(3, 3, 3, 0.64);
    border-radius: 23px;
  }
  
  .search-text {
    width: 410px;
    height: 32px;
    left: 22px;
    top: 12px;
    position: absolute;
    color: rgba(255, 255, 255, 0.51);
    font-size: 24px;
    font-family: 'Montserrat';
    word-wrap: break-word;
    width: 100%;
  }

  .search-text input {
    width: calc(100% - 70px);
    font-style: italic;
    font-weight: 400;
    background: none;
    color: white;
  }
  .search-text svg {
    width: 30px;
    height: 35px;
    cursor: pointer;
    fill: white;
  }
  

  .logo {
    width: 353px;
    height: 59.72px;
    left: 0;
    top: 0;
    position: absolute;
  }
  
  .logo-box {
    width: 78px;
    height: 55.29px;
    left: 0;
    top: 4.43px;
    position: absolute;
    border: 7.55px #E4E7FD solid;
  }
  
  .logo-box div {
    width: 28.18px;
    height: 14.58px;
    left: 24.66px;
    top: 0;
    position: absolute;
    border: 7.55px #E4E7FD solid;
  }
  
  .logo-box div:nth-child(3) {
    width: 14.09px;
    height: 14.58px;
    left: 17.61px;
    top: 29.16px;
    position: absolute;
    border: 7.55px #E4E7FD solid;
  }
  
  .logo-box div:nth-child(4) {
    width: 14.09px;
    height: 14.58px;
    left: 45.79px;
    top: 29.16px;
    position: absolute;
    border: 7.55px #E4E7FD solid;
  }
  
  .logo-text {
    width: 256px;
    height: 56px;
    left: 97px;
    top: 0;
    position: absolute;
  }
  
  .logo-text span:first-child {
    color: #E4E7FD;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }
  
  .logo-text span:last-child {
    color: #FF7F11;
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }
 
  .user-info {
    left: 1165px;
    top: 37px;
    position: absolute;
    color: #FF7F11;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }
  
  .cart-info {
    left: 1496px;
    top: 35px;
    position: absolute;
    color: #FF7F11;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }
  
  .welcome-text {
    left: 1152px;
    top: 8px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }
  
  .profile-icon {
    width: 59px;
    height: 59px;
    left: 1411px;
    top: 6px;
    position: absolute;
  }
  
  .profile-icon div:first-child {
    width: 59px;
    height: 59px;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
    border-radius: 9999px;
  }
  
  .cart-icon {
    width: 61px;
    height: 61px;
    left: 1081px;
    top: 6px;
    position: absolute;
  }
  
  
  .cart-icon div:first-child {
    width: 61px;
    height: 61px;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
    border-radius: 9999px;
  }

  .cart-text {
    left: 1481px;
    top: 10px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }

  .mario-div {
    position: relative;
}

.mario-div > .box {
    display: inline-block;
    vertical-align: top;
    margin-left: 10rem;
    margin-top: 5rem;
}

.mario-div > .box > .title {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.mario-div > .box img {
    width: 100%;
    max-width: 60%;
    height: auto;
    display: block;
}

@media only screen and (max-width: 768px) {
    .mario-div {
        text-align: center; 
    }

    .mario-div > .box {
        display: block;
        margin: 0 auto;
    }

    .mario-div > .box > .title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 3em;
    }
    .mario-div > .box > .subtitle {

      font-size: 1em;
  }
  .mario-div > .box img {
    align-self: center;
    justify-self: center;
    align-items: center;
    margin: auto;
    margin-top: 1em;
}
}

  .title {
    color: #E4E7FD;
    font-size: 6.5em;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }
  
  .subtitle {
    color: #E4E7FD;
    font-size: 1.5em;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
  }