<header>
    <a id="logo-container" routerLink="/">
        <img src="../../../assets/img/logo.png" alt="Logo de la tienda" width="100">
        <div id="text-logo"><p>Mundo magico del <span>Nintendo</span></p></div>
    </a>
    <div id="searcher">
        <input #searchInput type="text" placeholder="Busca tu producto">
        <button type="button" (click)="performSearch(searchInput.value)">
            <img src="../../../assets/img/search-icon.svg" alt="Buscar" width="100">
        </button>
    </div>
    <img class="cart_icon" src="../../../assets/img/shopping-cart-icon.svg" routerLink="/carrito" alt="Carrito de compras" width="30">
</header>

<nav>
    <a routerLink="/videojuegos">Videojuegos</a>
    <a routerLink="/funkos">Funkos</a>
    <a routerLink="/figuras">Figuras</a>
    <a routerLink="/consolas">Consolas</a>
</nav>