* {
  font-weight: 900;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0% 3% 0% 3%;
}

#logo-container {
  color: var(--acento-azul-oscuro);
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo-container img {
  margin-right: 10px;
}

#text-logo p {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
#text-logo span {
  font-size: 24px;
}
#searcher {
  display: flex;
  justify-content: left;
  border-bottom: 4px solid var(--acento-azul-oscuro);
  width: 40%;
}

#searcher input {
  width: calc(100% - 70px);
  height: 35px;
  font-style: italic;
  font-weight: 400;
}

#searcher button {
  background-color: #fff;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

#searcher button img {
  height: 2em;
}

nav {
  background-color: #fff;
  color: var(--acento-turqueza);
  text-align: center;
  padding: 10px;
  margin: 0% 3% 0% 3%;
}

nav a {
  color: var(--acento-turqueza);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

.cart_icon {
  cursor: pointer;
}
