<section id="banner-first">
  <p>{{ section | uppercase }}</p>
</section>
<main>
  <section id="filters">
    <div class="filter">
      <input type="text" placeholder="Buscar" />
    </div>

    <div class="filter" *ngIf="section === 'videojuegos'">
      <h3>GÉNERO</h3>
      <div class="filter-options genre-filter">
        <div class="filter-option">
          <input type="radio" name="genre" value="todos" (click)="getFilteredData()" />
          Todos
        </div>
        <div class="filter-option" *ngFor="let genre of genres">
          <input type="radio" name="genre" (click)="filterByGenre(genre)" />
          <label>{{ genre }}</label>
        </div>
      </div>
    </div>

    <div class="filter" *ngIf="section === 'videojuegos'">
      <h3>PLATAFORMA</h3>
      <div class="filter-options platform-filter">
        <div class="filter-option">
          <input type="radio" name="platform" value="todos" (click)="getFilteredData()" />
          Todos
        </div>
        <div class="filter-option" *ngFor="let platform of platforms">
          <input type="radio" name="platform" (click)="filterByGenre(platform)" />
          <label>{{ platform }}</label>
        </div>
      </div>
    </div>

    <div class="filter">
      <h3>PRECIO</h3>
      <div class="filter-options">
        @if (section === 'consolas') {
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(0, 600)" />
            Todos
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(100, 250)" />
            $100 - $250
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(251, 400)" />
            $251 - $400
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(401, 500)" />
            $401 - $500
          </div>
        } @else {
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(0, 150)" />
            Todos
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(0, 19.99)" />
            $0 - $19.99
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(20, 49.99)" />
            $20 - $49.99
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(50, 79.99)" />
            $50 - $79.99
          </div>
        }
      </div>
    </div>

    <div class="filter">
      <h3>ORDENAR POR</h3>
      <div class="filter-options">
        <div class="filter-option">
          <input type="radio" name="orderBy" (click)="sortProducts('asc')" />
          Más baratos primero
        </div>
        <div class="filter-option">
          <input type="radio" name="orderBy" (click)="sortProducts('desc')" />
          Más caros primero
        </div>
      </div>
    </div>
  </section>

  <section id="products-container">
    <div id="products-paginator">
      <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div id="products">
      <div class="product-message" *ngIf="data.length === 0">
        <p id="no-products-message">No hay productos con estas características</p>
      </div>
      <div
        class="product-item"
        *ngFor="let producto of data | paginate: { itemsPerPage: 12, currentPage: page }"
        (click)="openDetails(producto)"
      >
        <img class="img-product" src="{{ producto.image }}" />
        <div class="product-info">
          <p class="product-name">{{ replaceUnderscores(producto.name) }}</p>
          <div class="price-container">
            <p class="price-product">${{ producto.price }}</p>
            <img
              class="cart-icon"
              (click)="addCart($event, producto)"
              src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fcart-plus-fill.svg?alt=media&token=5f945936-14bf-4dec-b83e-c6105db787c3"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="alert" *ngIf="showAlert">
  <span>{{ alertMessage }}<button class="close-alert" (click)="closeAlert()">X</button></span>
  <div class="progress-bar">
    <div class="progress" [ngStyle]="{ width: progressWidth + '%' }"></div>
  </div>
</div>

<div class="details" *ngIf="showDetails && selectedProduct !== undefined">
  <div class="details-container">
    <img id="img-detalles" src="{{ selectedProduct.image }}" />
    <p id="nombre-text">{{ selectedProduct.name }}</p>
    <p id="desc-text">{{ selectedProduct.description }}</p>
    <p id="precio-text">Precio unitario: ${{ selectedProduct.price }}</p>
    <h2>Detalles</h2>
    <div *ngFor="let detalle of selectedProduct.details?.split(',') || []">
      <p id="detalles-text">{{ detalle.trim() }}</p>
    </div>
    <button id="addToCart-detalles" (click)="addCart($event, selectedProduct)">
      <img
        id="cart-icon-detalles"
        src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fwhite-add-cart-icon.png?alt=media&token=979c21f2-7eb4-4a00-abe4-897c1802ec9f"
      />
      
      AGREGAR AL CARRITO
    </button>
    <button id="closeButton-detalles" (click)="closeDetails()">X</button>
  </div>
</div>
