<section id="banner-first">
  <p>Inicio / {{ section.charAt(0).toUpperCase() + section.slice(1).toLowerCase() }}</p>
</section>
<main>
  <section id="filters">
    <div class="filter">
      <div class="search-wrapper">
        <input
          [(ngModel)]="inputValue"
          id="Buscar-input"
          type="text"
          placeholder="Buscar"
          (keydown)="searchProduct($event)"
        />
        <img
          src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fsearch-icon.svg?alt=media&token=ba27c4e0-8220-426e-abc8-f65b359e2479"
          alt="Search Icon"
          class="search-icon"
          (click)="searchIcon()"
        />
      </div>
    </div>

    <div class="filter" *ngIf="section === 'videojuegos'">
      <h3>GÉNERO</h3>
      <div class="filter-options genre-filter">
        <div class="filter-option" *ngFor="let genre of genres">
          <input type="radio" name="genre" (click)="filterByGenre(genre)" />
          <label>{{ genre }}</label>
        </div>
      </div>
    </div>

    <div class="filter" *ngIf="section === 'consolas'">
      <h3>PLATAFORMA</h3>
      <div class="filter-options genre-filter">
        <div class="filter-option" *ngFor="let consol of consols">
          <input type="radio" name="consol" (click)="filterByGenre(consol)" />
          <label>{{ consol }}</label>
        </div>
      </div>
    </div>

    <div class="filter" *ngIf="section === 'articulos'">
      <h3>CATEGORÍAS</h3>
      <div class="filter-options genre-filter">
        <div class="filter-option" *ngFor="let articulo of articulos">
          <input type="radio" name="articulo" (click)="filterByGenre(articulo)" />
          <label>{{ articulo }}</label>
        </div>
      </div>
    </div>

    <div class="filter" *ngIf="section === 'funkopop'">
      <h3>CATEGORÍAS</h3>
      <div class="filter-options genre-filter">
        <div class="filter-option" *ngFor="let funko of funkos">
          <input type="radio" name="funko" (click)="filterByGenre(funko)" />
          <label>{{ funko }}</label>
        </div>
      </div>
    </div>

    <div class="filter" *ngIf="section === 'videojuegos'">
      <h3>PLATAFORMA</h3>
      <div class="filter-options platform-filter">
        <div class="filter-option" *ngFor="let platform of platforms">
          <input type="radio" name="platform" (click)="filterByGenre(platform)" />
          <label>{{ platform }}</label>
        </div>
      </div>
    </div>
    <div class="filter">
      <h3>PRODUCTOS</h3>
      <div class="filter-options">
        <div class="filter-option">
          <input type="radio" name="price" routerLink="/todos" [checked]="allIsSelected" />
          Todos
        </div>
        <div class="filter-option">
          <input type="radio" name="price" routerLink="/videojuegos" [checked]="videogameIsSelected" />
          Videojuegos
        </div>
        <div class="filter-option">
          <input type="radio" name="price" routerLink="/funkopop" [checked]="funkoIsSelected" />
          Funko-Pops
        </div>
        <div class="filter-option">
          <input type="radio" name="price" routerLink="/consolas" [checked]="consolIsSelected" />
          Consolas
        </div>
        <div class="filter-option">
          <input type="radio" name="price" routerLink="/articulos" [checked]="artIsSelected" />
          Artículos
        </div>
        <div class="filter-option">
          <input type="radio" name="price" routerLink="/otros" [checked]="otroIsSelected" />
          Otros
        </div>
      </div>
    </div>
    <div class="filter">
      <h3>PRECIO</h3>
      <div class="filter-options">
        @if (section === 'consolas') {
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(0, 600)" />
            Todos
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(100, 250)" />
            $100 - $250
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(251, 400)" />
            $251 - $400
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(401, 500)" />
            $401 - $500
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(500, 1000)" />
            Mayor a $500
          </div>
        } @else {
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(0, 150)" />
            Todos
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(0, 19.99)" />
            $0 - $19.99
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(20, 49.99)" />
            $20 - $49.99
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(50, 79.99)" />
            $50 - $79.99
          </div>
          <div class="filter-option">
            <input type="radio" name="price" (click)="updatePriceRange(80, 1000)" />
            Mayor a $80
          </div>
        }
      </div>
    </div>
  </section>

  <section id="products-container">
    <div id="products-header">
      <div id="order-by">
        <label for="orderBySelect">Ordenar por:</label>
        <select id="orderBySelect" (change)="sortProducts($event)">
          <option value="asc">Más baratos primero</option>
          <option value="desc">Más caros primero</option>
          <option value="alpha-asc">Orden alfabético A-Z</option>
          <option value="alpha-desc">Orden alfabético Z-A</option>
        </select>
      </div>
      <div id="products-paginator">
        <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>

    <div id="products">
      <div class="product-message" *ngIf="data.length === 0">
        <p id="no-products-message">No hay productos con estas características</p>
      </div>
      <div
        class="product-item"
        *ngFor="let producto of data | paginate: { itemsPerPage: 12, currentPage: page }"
        (click)="openDetails(producto)"
      >
        <img class="img-product" src="{{ producto.image }}" />
        <div class="product-info">
          <p class="product-name">{{ getNameWithoutParentheses(producto.name) }}</p>
          <div class="price-container">
            <p class="price-product">${{ producto.price }}</p>
            <div class="icon-container">
              <img
                class="icon-products" id="addToWishlist"
                [ngClass]="{ 'in-wishlist': isProductInWishlist(producto) }"
                (click)="validateWishlist($event, producto)"
                src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Ffavoritefill.png?alt=media&token=c241acf9-6766-4971-8885-dacc9481e16c"
              />
              <img
                class="icon-products" id="addToCart"
                (click)="addCart($event, producto)"
                src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fcart-plus-fill.svg?alt=media&token=5f945936-14bf-4dec-b83e-c6105db787c3"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Alerta -->
<div class="alert" *ngIf="showAlert">
  <span>
    {{ alertMessage }}
    <button class="close-alert" (click)="closeAlert()">X</button>
  </span>
  <div class="progress-bar">
    <div class="progress" [ngStyle]="{ width: progressWidth + '%' }"></div>
  </div>
</div>

<!-- Detalles del producto -->
<div class="details" *ngIf="showDetails && selectedProduct !== undefined">
  <div class="details-container">
    <img id="img-detalles" src="{{ selectedProduct.image }}" />
    <p id="nombre-text">{{ getNameWithoutParentheses(selectedProduct.name) }}</p>

    <p id="precio-text">Precio unitario: ${{ selectedProduct.price }}</p>
    <p id="nombre-text">Detalles</p>
    <p id="detalles-text">{{ selectedProduct.details }}</p>
    <p id="nombre-text">Descripción</p>
    <p id="desc-text">{{ selectedProduct.description }}</p>
    <button id="addToCart-detalles" (click)="addCart($event, selectedProduct)">
      <img
        id="cart-icon-detalles"
        src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fwhite-add-cart-icon.png?alt=media&token=979c21f2-7eb4-4a00-abe4-897c1802ec9f"
      />
      AGREGAR AL CARRITO
    </button>
    <button id="closeButton-detalles" (click)="closeDetails()">X</button>
    <img
    class="icon-products" id="addToWishlist"
    [ngClass]="{ 'in-wishlist': isProductInWishlist(selectedProduct) }"
    (click)="validateWishlist($event, selectedProduct)"
    src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Ffavoritefill.png?alt=media&token=c241acf9-6766-4971-8885-dacc9481e16c"
  />
  </div>
</div>
