<section id="banner-first">
  <p>Inicio / Terminos y condiciones</p>
</section>

<div class="container">
  <div class="sub-container">
    <h2 class="title">Terminos y condiciones</h2>
    <h3>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Flocals%2Fcalendar-check.svg?alt=media&token=bc1a83a6-a0a6-49bd-9fcb-89ca8caf13b9"
        alt="Terms Icon"
      />
      Última actualización: 03/08/2024
    </h3>
    <p>
      Bienvenido a Mundo Mágico del Nintendo. Al acceder y utilizar nuestro sitio web, aceptas cumplir y estar sujeto a
      los siguientes términos y condiciones.
    </p>
    <div class="policy">
      <div>
        <h3>Modificaciones de los términos</h3>
        <p>
          Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones
          entrarán en vigor una vez publicadas en esta página. Es tu responsabilidad revisar periódicamente los términos
          para estar al tanto de cualquier cambio.
        </p>
      </div>
    </div>
    <div class="policy">
      <div>
        <h3>Uso del Sitio Web</h3>
        <p>Debes utilizar el sitio web solo para fines legales y de acuerdo con todas las leyes aplicables.</p>
      </div>
    </div>
    <div class="policy">
      <div>
        <h3>Productos y Precios</h3>
        <p>
          Los productos ofrecidos en nuestro sitio web están sujetos a disponibilidad. Nos reservamos el derecho de
          modificar los productos y precios en cualquier momento sin previo aviso. Aunque nos esforzamos por
          proporcionar información precisa, no garantizamos que las descripciones de los productos o cualquier otro
          contenido del sitio web sea exacto, completo o libre de errores.
        </p>
      </div>
    </div>
    <div class="policy">
      <div>
        <h3>Compras y Pagos</h3>
        <p>
          Al realizar una compra en nuestro sitio, aceptas proporcionar información exacta y completa para la
          transacción, incluyendo detalles de pago y la tienda en donde retirará el producto.
        </p>
        <p>
          Nos reservamos el derecho de rechazar o cancelar cualquier pedido en cualquier momento. Esto puede incluir
          pedidos en los que el precio del producto se haya establecido incorrectamente o se haya detectado un problema
          con la información de pago.
        </p>
      </div>
    </div>
    <div class="policy">
      <div>
        <h3>Propiedad Intelectual</h3>
        <p>
          Todo el contenido del sitio web, incluyendo textos, imágenes, logotipos y gráficos, es propiedad de Mundo
          Mágico del Nintendo o de terceros y está protegido por las leyes de propiedad intelectual.
        </p>
      </div>
    </div>
    <div class="policy">
      <div>
        <h3>Información de Contacto</h3>
        <p>
          Si tienes alguna pregunta sobre estos Términos y Condiciones, por favor
          <a routerLink="/contacto">contáctanos</a>
          en [mundonintendo&#64;hotmail.com] o en cualquiera de nuestras
          <a routerLink="/locales">tiendas físicas</a>
          .
        </p>
      </div>
    </div>
  </div>
</div>
