<section id="banner-first">
  <p>Inicio / Sobre nosotros</p>
</section>

<div class="container">
  <div class="sub-container">
    <h1>SOBRE NOSOTROS</h1>

    <p>
      Bienvenidos a Mágico Mundo del Nintendo, tu destino definitivo para todo lo relacionado con el emocionante
      universo de Nintendo y más allá. En nuestro catálogo, encontrarás una amplia variedad de productos, desde
      videojuegos y consolas hasta figuras de colección como Funkos y artículos exclusivos de Nintendo.
    </p>
    <div class="navbar-divider"></div>
    <ul class="about-methods">
      <li>
        <p id="n-text">NUESTRA HISTORIA</p>
        <p>
          En Mágico Mundo del Nintendo, nos apasiona el mundo del gaming y la cultura geek. Fundados con el objetivo de
          brindar a los fanáticos una experiencia de compra excepcional, nos especializamos en ofrecer los últimos
          lanzamientos, artículos raros y productos únicos que capturan la esencia de tus franquicias favoritas.
        </p>
        <div class="our-container">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fhome%20page%2FbannerC1.jpg?alt=media&token=b3baee00-cc12-4e6c-9b0c-414f37007e26"
            alt=""
          />
        </div>
      </li>
      <li>
        <p id="n-text">NUESTRA MÍSION</p>
        <p>
          Nuestra misión es simple: llevar la magia del mundo Nintendo a tus manos. Creemos en la calidad, la
          autenticidad y el entusiasmo por cada producto que ofrecemos. Nuestro equipo trabaja arduamente para curar una
          selección que no solo cumpla con tus expectativas, sino que las supere.
        </p>
        <div class="our-container">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Fhome%20page%2FbannerC3.jpg?alt=media&token=52b6f77b-3627-48f6-a825-c206f5c7362c"
            alt=""
          />
        </div>
      </li>
      <li>
        <p id="n-text">CONÉCTATE CON NOSOTROS</p>
        <p>
          Explora nuestro catálogo, únete a nuestra comunidad en redes sociales y mantente al tanto de nuestras últimas
          noticias y ofertas. En Mágico Mundo del Nintendo, estamos aquí para hacer realidad tus sueños gamer y
          compartir la emoción del mundo Nintendo contigo.
        </p>
        <p>
          Gracias por elegirnos y por ser parte de nuestra aventura.
          <strong>¡Que la magia del gaming te acompañe siempre!</strong>
        </p>
      </li>
    </ul>
    <p class="note">
      Si tienes alguna pregunta o necesitas asistencia, no dudes en
      <a routerLink="/contacto">contactarnos</a>
      .
    </p>
  </div>
</div>
