<app-alert
  [showAlert]="showAlert"
  [alertTopic]="alertTopic"
  [alertMessage]="alertMessage"
  [alertType]="alertType"
></app-alert>
<section id="banner-first">
  <p>Inicio / Contacto</p>
</section>

<div class="container">
  <div class="sub-container">
    <div class="service-channels">
      <h2>Canales de servicio al cliente</h2>
      <p id="text">Para información de tus reservas o servicio al cliente:</p>
      <p>
        <img
          class="icons-media"
          src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Flocals%2Ftelephone-fill.svg?alt=media&token=2a8d96b8-4732-419c-b2d4-66cbd7a6af67"
          alt=""
        />
        Llámanos al:
      </p>
      <p>
        <strong id="strong-color">Ceibos:</strong>
        042359106
      </p>
      <p>
        <strong id="strong-color">Entre ríos:</strong>
        042097477
      </p>
      <p>
        <strong id="strong-color">C.C.T. Terrestre:</strong>
        042130877
      </p>
      <div class="navbar-divider"></div>
      <p>
        <img
          class="icons-media"
          src="https://firebasestorage.googleapis.com/v0/b/nintventario.appspot.com/o/img%2Flocals%2Fenvelope-at-fill.svg?alt=media&token=29231f14-a88b-45b1-858e-03d8f74d15c1"
          alt=""
        />
        Envíanos un correo:
      </p>
      <p>magiconintendo&#64;hotmail.com</p>
    </div>
    <div class="contact-form">
      <h2>Déjanos un mensaje</h2>
      <p id="text">
        Para ponerse en contacto con nosotros por cualquier información adicional, dudas, sugerencias, reclamos o
        comentarios favor llenar el siguiente formulario y presionar enviar.
      </p>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="cedula">(*) Cédula:</label>
    <input type="text" id="cedula" formControlName="cedula" required />
    <div *ngIf="contactForm.get('cedula')?.invalid && contactForm.get('cedula')?.touched" class="error-message">
      La cédula es requerida.
    </div>
  </div>
  <div class="form-group">
    <label for="nombres">(*) Nombres y Apellidos:</label>
    <input type="text" id="nombres" formControlName="nombres" required />
    <div *ngIf="contactForm.get('nombres')?.invalid && contactForm.get('nombres')?.touched" class="error-message">
      Los nombres y apellidos son requeridos.
    </div>
  </div>
  <div class="form-group">
    <label for="telefono">(*) Teléfono:</label>
    <input type="text" id="telefono" formControlName="telefono" required />
    <div *ngIf="contactForm.get('telefono')?.invalid && contactForm.get('telefono')?.touched" class="error-message">
      El teléfono es requerido.
    </div>
  </div>
  <div class="form-group">
    <label for="email">(*) Email:</label>
    <input type="email" id="email" formControlName="email" required />
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
      {{ contactForm.get('email')?.errors?.['required'] ? 'El email es requerido.' : 'Ingrese un email válido.' }}
    </div>
  </div>
  <div class="form-group">
    <label for="ciudad">Ciudad:</label>
    <input type="text" id="ciudad" formControlName="ciudad" />
  </div>
  <div class="form-group">
    <label for="asunto">(*) Asunto:</label>
    <select id="asunto" formControlName="asunto" required>
      <option value="">Seleccione Asunto</option>
      <option value="Información adicional">Información adicional</option>
      <option value="Duda">Duda</option>
      <option value="Sugerencia">Sugerencia</option>
      <option value="Reclamo">Reclamo</option>
      <option value="Otros">Otros</option>
    </select>
    <div *ngIf="contactForm.get('asunto')?.invalid && contactForm.get('asunto')?.touched" class="error-message">
      El asunto es requerido.
    </div>
  </div>
  <div class="form-group full-width">
    <label for="comentario">(*) Comentario:</label>
    <textarea id="comentario" formControlName="comentario" required></textarea>
    <div *ngIf="contactForm.get('comentario')?.invalid && contactForm.get('comentario')?.touched" class="error-message">
      El comentario es requerido.
    </div>
  </div>
  <div class="full-width">
    <button type="submit">Enviar</button>
  </div>
</form>

    </div>
  </div>
</div>