
#banner-first {
  background-color: #eca400;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  margin-top: 10px;
}

#banner-first p {
  padding: 0.3em 0 0 15em;
  color: #00274d;
}
.navbar-links a {
  text-decoration: none;
  color: #00274d;
  font-size: 14px;
  transition: color 0.3s;
  padding: 0 20px;
}

.navbar-links a:hover {
  color: #007acc;
}
.navbar-bottom {
  display: flex;
  margin: 15px 20vh;
  justify-content: left;
  gap: 40px;
}